.DS_Store

# Oh-My-Zsh и плагины — устанавливаются динамически через install.sh
zsh/.config/zsh/oh-my-zsh/
# История zsh
zsh/.config/zsh/.zsh_history
# Локальные переопределения
zsh/.config/zsh/.zshrc.local
